@font-face {
    font-family: Solarian;
    src: url(../fonts/Solarian.ttf) format(ttf);
}
@font-face {
    font-family: Ailerons;
    src: url(../fonts/Ailerons.otf) format(otf);
}
@font-face {
    font-family: Cooper;
    src: url(../fonts/CooperHewitt.otf) format(otf);
}

body{
    background-image: linear-gradient(to right,#542bc4 , #a82bc4); 
    /* background-image: linear-gradient(to right,#542bc4 , #c115c1);  */
}
section {  
    height: 100%;
    padding-top: 50px;
}
.img-container, .video-container {
    height: 100%;
    top: 100%;
}

/* section APOD */
.apod > .title {
    font-family: Solarian;
    text-align: center;
    font-size: 70px;
} 
.apod > .texto { 
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    text-align: center; 
    letter-spacing: -2px;
    padding-top: 50px;
} 
.caixa-data > form {  
    /* position: absolute; */
    /* margin-right: 200px; */
    padding-top: 20px;
    vertical-align: middle;
    display: table;
    margin: 0 auto;
}
#btn {
    border: #4b4453 2px; 
    /* border: none; */
    margin: 5px;
    padding: 10px 30px; 
    border-radius: 15px;  
    background-color: transparent;
    font-size: 20px;
} 
#data {
    background-color: transparent !important;
    border: none;
    font-size: 30px;  
    font-family: 'Noto Sans', sans-serif; 
}
/* section image */
.img-container {
    display: flex;
}
.imagem, .media-video { 
    width: 100%; 
}
#img-api, #video-api{
    margin-left: auto;
    margin-right: auto;
    display: flex;  
    width: 100%;
    box-shadow: 15px 10px 20px rgba(0, 0, 0, 0.744);
}
iframe > img {
    width: 100%;
    height: auto;
}
.video-container { 
    display: none;
}
.box-info {
    display: none;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fefedf ;
    color: #4b4453 ; 
    box-shadow: 15px 10px 20px #00000098;
    float: right;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    text-align: justify;
    height: 100%; 
} 

